# Copyright (C) 2022 Alif Semiconductor - All Rights Reserved.
# Use, distribution and modification of this code is permitted under the
# terms stated in the Alif Semiconductor Software License Agreement
#
# You should have received a copy of the Alif Semiconductor Software
# License Agreement with this file. If not, please write to:
# contact@alifsemi.com, or visit: https://alifsemi.com/license

CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_DESIGNWARE=y
CONFIG_SPI_DW_MMIO=y
CONFIG_HWSEM_ALIF=n
CONFIG_MAILBOX=n
CONFIG_ARM_MHUv2=n
CONFIG_RPMSG=n
CONFIG_CONFIGFS_FS=y
CONFIG_BME680=y
CONFIG_BME680_SPI=y
CONFIG_IIO=y
CONFIG_IIO_CONFIGFS=y
